@import 'navbar';
// @import 'profileSidebar';
@import 'body';
@import 'profileMisc';
@import 'sidebars';
@import 'homePage';

$bs-body-bg: #f4f2ee;
$bs-primary: #ffffff;
$bs-icon-hover: #191919;
$bs-icon: #3a3a3a;
$bs-button-hover: #e2f0fe;
$bs-button-text: #297acb;
$bs-round-button-hover: #ebebeb;
$bs-search-field: #edf3f8;

.scrollable-modal {
  max-height: 70vh !important;
  overflow-y: auto !important;
}

.clickable-name:hover {
  color: #297acb;
  text-decoration: underline;
  cursor: pointer;
}

.clickable-button:hover {
  background-color: #edf3f8 !important;
  border: 2px solid #191919 !important;
}

.modal-opener:hover {
  background-color: #edf3f8 !important;
  cursor: pointer;
}

.text-small {
  font-size: 0.9rem;
}

body {
  background-color: rgb(231, 225, 218) !important;
}

// stile input file
#image-selector {
  display: none !important; /* Nasconde l'input del file */
}

.custom-file-input-label {
  background-color: #007bff !important;
  color: #fff !important;
  padding: 8px 20px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  display: inline-block !important;
}

.custom-file-input-label span {
  display: inline-block !important;
}

.custom-file-input-label input[type="file"] + span:before {
  content: "Carica file" !important; /* Testo personalizzato */
  margin-right: 10px !important; /* Aggiungi spazio tra il testo e l'icona del file */
}

.custom-file-input-label:hover,
.custom-file-input-label:active {
  background-color: #0056b3 !important;
  transition: 300ms;
}

.custom-file-input-label:focus {
  outline: 1px solid #007bff !important;
}

// stile bottone homepage
.button-homepage {
  background-color: transparent !important;
  color: grey !important;
  border-color: transparent !important;
  padding: 10px 20px !important;
}

.button-homepage:hover {
  background-color: rgb(226, 226, 226) !important;
}

.modal-hoverable:hover {
  background-color: #e3e5e6;
  cursor: pointer;
}

.comments-number-style {
  
  color: grey;
}

.comments-number-style:hover {
  text-decoration: underline;
  cursor: pointer;
}

.commentsButton{
  background-color: transparent !important;
  
  border-color: transparent !important;
  
}

.commentsDiv{
  background-color: rgba(223, 220, 220, 0.685);
  margin-bottom: 5px;
  margin-top: 10px;
padding: 15px

}

ul{
  list-style: none;
  padding:0!important
}


@import "../../node_modules/bootstrap/scss/bootstrap.scss";
